/* Write your CSS here */
.login-btn {
  border-radius: 10px;
  border-width: 0;
  height: 36px;
  width: 108px;
  color: #303150;
  background-color: #fff;
  font-family: 'Roboto';
  cursor: pointer;
  font-weight: 600;
}
